// Font sizes //
$font-size-xxs: 10px;
$font-size-xs: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xl: 30px;
$font-size-xxl: 32px;
$font-size-3xl: 42px;

// Color //
$white: #FFF;
$black: #1D1F22;
$green: #5ECE7B;
$green-1: #4CAF50;
$grey: #EEEEEE;
$grey-2: #E5E5E5;
$grey-3: #8D8F9A;

$shadow: rgba(168, 172, 176, 0.19);

// Font families //
$font-family-raleway: 'Raleway';
$font-family-roboto: 'Roboto Condensed';
